.motto {
	max-width: 400px;
	margin: 88px auto;
	color: #337ab7;
	font-size: 16px;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
    /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}

